.pricing-header {
    max-width: 800px;
}

body {
    margin: 0;
}
.main {
    height: 100vh;

    /* grid container settings */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'header'
    'main'
    'footer';
}
.main > header {
    grid-area: header;
}
.main > main {
    grid-area: main;
    padding: 15px 5px 10px 5px;
}
.main > footer {
    grid-area: footer;
}
.mr-auto a:last-child{
    margin-left: 10px;
}

@media screen and (max-width:991px ) {
    .mr-auto a:last-child{
        margin-left: 0px;
    }

}
